@import "includes/normalize";

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

html {
    font-size: 12px;
}

.container {
    margin: 0 auto;
    position: relative;
    width: 960px;
}

.one-third {
    padding: 0 20px 30px;
    width: 270px;
}
