// Variables
$blue: #4988e7;

// Mixins 
@mixin round($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius; 
    border-radius: $radius;
}

html {
    background: url(../images/layout/content_area_bg.gif);
}

.left-col {
    display: inline-block;
    margin-right: 26px;
    vertical-align: top;
    width: 280px;
}

.right-col {
    display: inline-block;
    vertical-align: top;
    width: 650px;
}

figure {
    webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h2 {
    background: url(../images/layout/landing_slide_divider.png) no-repeat center 214px;
    color: #fff;
    font: 800 5em "proxima-nova", sans-serif;
    margin: 0;
    //padding: 130px 0 84px;
    text-transform: uppercase;
} 

header {
    font-family: "proxima-nova", sans-serif;
    position: relative;
    z-index: 2;
 
    &:before,
    &:after {
        background: url(../images/layout/header_bg.gif) repeat-x top left;
        content: '';
        height: 138px;
        position: absolute;
        top: 0;
    } 

    &:after {
        left: 50%;
        margin-left: 500px;
        right: 0;
    }

    &:before {
        left: 0;
        margin-right: 500px;
        right: 50%;
    }

    .container {
        background: url(../images/layout/header_bg.png) no-repeat center;
        height: 168px;
        padding: 0 145px;
        z-index: 100;
    }

    nav {
        display: inline-block;

        ul {
            li {
                display: inline-block;

                a {
                    color: #a0a0a0;
                }
            }
        }
    }

    h1 {
        display: inline-block;
        margin: 0;
        padding: 70px 0 0 12px;
    }

    a {
        text-transform: uppercase;
    }

    > div {
        > nav {
            position: absolute;
            right: 145px;
            top: 99px;

            ul {
                li {
                    height: 34px;
                    margin-left: 25px;
                    position: relative;

                    a {
                        font-size: 1.166em;

                        &.about,
                        &.financial,
                        &.commercial {
                            color: #fff;
                            font-size: 1.333333333em;
                            font-weight: bold;
                        }

                        &.financial,
                        &.commercial {
                            color: $blue;
                        }
                    }

                    &.sel {
                        border-bottom: 5px solid #fff;
                        
                        &:after {
                            border-left: 5px solid transparent;
                            border-right: 5px solid transparent;
                            border-top: 5px solid #fff;
                            bottom: -10px;
                            content: '';
                            height: 0;
                            position: absolute;
                            left: 50%;
                            margin-left: -5px;
                            width: 0;
                        }
                    }
                }
            }
        }
        
        div {
            border-bottom: 1px solid #383838;
            left: 155px;
            position: absolute;
            text-align: right;
            top: 0;
            right: 155px;

            span {
                color: #888;
                font-size: 1.166em;

                a {
                    color: #fff;
                    font-weight: bold;
                }
            }

            nav {
                ul {
                    li {
                        margin: 10px 0 10px 20px;
                        
                        a {
                            font-size: 1.083em;
                        }
                    }
                }
            }
        }
    }

    &.collapsed {
        position: fixed;
        top: -42px;
        width: 100%;
        z-index: 99;

        &.container {
            height: 90px;
        }
    }
}

#placeholder {
    height: 168px;
}

footer {
    background: url(../images/layout/footer_bg.gif);
    font-family: "proxima-nova", sans-serif;
    padding-bottom: 28px;

    nav {
        padding-left: 10px;

        > ul {
            > li {
                float: left;
                padding-right: 20px;
                width: 153px;

                h3 {
                    color: #aeaeae;
                    font-size: 1.33em;
                    font-weight: bold;
                    margin: 65px 0 14px;
                }

                &.financial,
                &.commercial {
                    h3 {
                        color: $blue;
                        text-transform: uppercase;
                    }
                }

                ul {
                    li {
                        margin-bottom: 2px;

                        a {
                            color: #fff;
                            font: bold 1.083em "Lucida Grande", "myriad-pro", sans-serif;
                        }
                    }
                }
            }
        }
    }

    > div {
        > div {
            color: #fff;
            float: right;
            font-size: 1.167em;
            margin: 40px 10px 0 0;
            text-align: center;
            
            a {
                font-weight: bold;
                line-height: 1;

                &[href^=mailto] {
                    color: $blue;
                    font-size: 1.142em;
                }

                &[href^=tel] {
                    color: #fff;
                    font-size: 1.571em;
                }
            }

            img, span {
                display: block;
                margin-bottom: 16px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    
    p {
        clear: both;
        color: #656565;
        font-size: 1.166em;
        padding-top: 22px;
    }
}

.btn {
    @include round(6px);
    display: inline-block;
    font: normal 1.166em "proxima-nova", sans-serif;
    line-height: 1;
    padding: 19px 15px 17px;
    text-align: center;
    text-transform: uppercase;

    &.grey {
        background-color: #aeaeae;
        color: #fff;
    }

    &.white {
        background-color: #fcfcfc;
        box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
        color: #3479e1;
        font-weight: bold;
    }
}

.frame {
    @include round(6px);
    background-color: rgba(50, 115, 176, .05);
    color: #5d5d5e;
    display: inline-block;
    margin: 0 7.5px;

    .border {
        @include round(6px);
        background-color: #fff;
        box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.3);
        display: block;
        margin: 0 -20px;
        padding: 10px 10px 7px 10px;
    }

    img {
        @include round(6px);
    }

    h3 {
        font: bold 1.5em "proxima-nova", sans-serif;
        margin: 27px 0 20px 0;
        text-transform: uppercase;
    }

    p {
        font: bold 1.083em/1.54em "Lucida Grande", "myriad-pro", sans-serif;
        margin: 0 0 26px;
    }

    a.btn {
        min-width: 138px;
        padding: 21px 15px;
    }
}

.carousel {
    position: relative;
    overflow: hidden;

    ul.items {
        width: 20000em;
        position: absolute;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            float: left;
            position: relative;
        }
    }
}

div.wrapper {
    margin: 0 auto;
    width: 960px;

    .hWrapper {
        background-color: #000;
        border-bottom: 1px solid #fff;
        left: 0;
        position: absolute;
        right: 0;
        top: 132px;

        h2 {
            z-index: 2;
        } 

        img {
            left: 50%;
            margin-left: -1000px;
            position: absolute;
            top: 0;
        }
    }
}

.expandedHeader {
    .wrapper {
        padding-top: 284px;
    }

    .hWrapper {
        height: 316px;
        overflow: hidden;

        h2 {
            background-position: center 84px;
            bottom: 40px;
            padding-bottom: 84px;
            position: absolute;
            text-align: center;
            width: 100%;
        }
    }
}

.collapsedHeader {
    .wrapper {
        padding-top: 139px;
    }

    .hWrapper {
        height: 174px;
        overflow: hidden;

        h2 {
            background: none;
            font-size: 3.5em;
            font-weight: 600;
            margin: 0 auto;
            position: relative;
            top: 69px;
            width: 960px;
        }
    }
}

.pull-up-20 {
    margin-top: -24px;
    position: relative;
}

.pull-up-40 {
    margin-top: -40px;
    position: relative;
}

.pull-up-60 {
    margin-top: -60px;
    position: relative;
}

.interior {
    > h3 {
        font: 700 2.833333333em "proxima-nova", sans-serif;
        margin: 31px 0 18px;
    }

    > h4 {
        font: 700 2.333333333em "proxima-nova", sans-serif;
    }

    > p {
        font: normal 1.166666667em/1.43em "Lucida Grande", "myriad-pro", sans-serif;
        margin-bottom: 40px;
    }

    > .frame,
    .frameGroup .frame {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 28px;

        .border {
            margin-left: 0px;
            margin-right: 0px;
        }

        p {
            font-size: .916666667em;
            line-height: 2.545454545em;
            margin: 0;
            padding: 0 10px;
        }
    }

    .frameGroup .frame:nth-child(2n+2) {
        margin-left: 26px;
    }

    .carouselWrapper {
        width: 651px;

        &.pull-up-40 {
            margin-bottom: 0;
        }

        .carousel {
            height: 388px;
            width: 630px;

            .items {
                li {
                    margin: 0 20px 0 0;

                    img {
                        padding-bottom: 5px;
                    }

                    p {
                        font-size: .916666667em;
                        line-height: 2.545454545em;
                        padding: 0 10px;
                    }
                }
            }
        }
    }

    .cta {
        margin-bottom: 70px;
        
        .frame {
            margin: 0;
            text-align: center;

            &:nth-child(2n+2) {
               margin-left: 26px; 
               margin-right: 0;
           }
       }
    }
}

.left-col {
    margin-top: 2px;

    li {
        border-bottom: 1px solid #cfcfd0;
        border-top: 1px solid #fff;

        &:first-child {
            border-top: 0;
        }

        &:last-child {
            border-bottom: 0;
        }

        a {
            color: #4a87e2;
            display: block;
            font: 700 1.166666667em "proxima-nova", sans-serif;
            padding: 18px 0 17px 30px;
            text-transform: uppercase;
        }

        &.sel a {
            color: #000;
        }
    }
}

#landing {
    section {
        position: relative;
        padding-top: 600px;
    }

    .wrapper {
        text-align: center;
    }

    .hWrapper {
        top: -36px;
    }

    .carousel {
        height: 700px;
        margin: 0 auto;
        width: 1250px;

        ul.items {
            li {
                color: #fff;
                width: 1250px;

                h2, p, a {
                    position: relative;
                    z-index: 2;
                }

                h2 {
                    padding: 130px 0 84px;
                }

                img {
                    left: 0;
                    margin-left: 0;
                    position: absolute;
                    top: 0;
                    z-index: 1;
                }

                p {
                    font: normal 1.666666667em "proxima-nova", sans-serif;
                    line-height: 1.5em;
                    margin: 0 auto 37px;
                    width: 620px;
                }
            }
        }

        ul.nav {
            bottom: 95px;
            position: absolute;
            width: 100%;
            z-index: 3;

            li {
                display: inline;

                a {
                    background: url(../images/layout/carousel_nav_sprite.png) no-repeat -36px top;
                    display: inline-block;
                    height: 20px;
                    text-indent: -9999em;
                    width: 18px;

                    &:focus { 
                        outline: none; 
                    }
                }

                &.sel {
                    a {
                        background-position: -18px top;
                    }
                }

                &.prev {
                    margin-right: 10px;

                    a {
                        background-position: top left;
                    }
                }

                &.next {
                    margin-left: 9px;

                    a {
                        background-position: top right;
                    }
                }
            }
        }
    }

    .cta {
        background: url(../images/layout/content_area_bg.gif);

        li {
            margin-bottom: 70px;
            position: relative;
            z-index: 3;

            &:first-child,
            &:last-child {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}

#blog {
    .left-col {
        padding-top: 40px;
        width: 278px;

        a {
            color: #236ddd;
        }

        > ul {
            > li {
                border: 0;
                font: 700 2.333333333em "proxima-nova", sans-serif;

                ul {
                    margin: 10px 0 32px;

                    li {
                        border: 0;

                        a {
                            font-size: .5em;
                            padding: 8px 0 7px;
                        }
                    }
                }
            }
        }
    }

    .right-col {
        a {
            color: #236ddd;
        }

        border-left: 1px solid #c1c1c2;
        margin: 40px 0 70px;
        padding-left: 30px;
        width: 620px;

        article {
            dl {
                margin: 1px 0 10px;
               
                dt {
                    display: none;
                }

                dd {
                    color: #1f1f1f;
                    display: inline-block;
                    font: 700 1.083333333em "proxima-nova", sans-serif;
                    margin: 0 6px 0 0;
                    padding-right: 7px;
                }

                :nth-child(4n+2) {
                    border-right: 1px solid #858586;
                }
            }

            h3 {
                font: 700 2.833333333em "proxima-nova", sans-serif;
                margin: 0;
            }

            p {
                font: normal 1.166666667em/1.43em "Lucida Grande", "myriad-pro", sans-serif;
                margin-bottom: 40px;
            }
        
            &:last-child {
                p:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

#contact {
    .left-col {
        color: #313131;
        font-family: "Lucida Grande", "myriad-pro", sans-serif;
        margin: 0;
        width: 410px;

        h2 {
            color: #1f1f1f;
            font: 700 2.833333333em "proxima-nova", sans-serif;
            margin-top: 40px;
            text-transform: none;
        }
        
        p {
            font-size: 1.16667em;
            line-height: 1.43em;
            margin: 20px 0 40px;
        }

        label {
            font-size: 1.16667em;
            font-weight: 800;
            padding-left: 6px;
            text-transform: uppercase;

            em {
                color: #797979;
                font-size: .857142857em;
                font-style: normal;
                font-weight: 300;
                text-transform: none;
            }

            input,
            textarea {
                @include round(4px);
                border: 1px solid #d2d2d4;
                color: #5a5a5a;
                box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
                display: block;
                margin: 6px 0 15px 0;
                padding: 17px 20px 18px;
                width: 366px;

                &:focus {
                    border-color: #9f9fa0;
                    outline: none;
                }
            }

            &.error {
                input,
                textarea {
                    border-color: #e74949;
                }
            }

            textarea {
                height: 175px;
                margin-bottom: 30px;
            }
        }

        button {
            @include round(4px);
            border-top: 1px solid #3290f7;
            border-bottom: 1.5px solid #133964;
            border-left: 0;
            border-right: 0;
            color: #fff;
            font: 600 1.166666667em/3.357142857em "proxima-nova", sans-serif;
            padding: 0;
            text-transform: uppercase;
            width: 410px;

            /* http://www.colorzilla.com/gradient-editor/ */
            background: #277af8; /* Old browsers */
            /* IE9 SVG, needs conditional override of 'filter' to 'none' */
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI3N2FmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzFiNjJjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMDdjY2EiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMTY0ZmE2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
            background: -moz-linear-gradient(top, #277af8 0%, #1b62cc 99%, #207cca 100%, #164fa6 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#277af8), color-stop(99%,#1b62cc), color-stop(100%,#207cca), color-stop(100%,#164fa6)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #277af8 0%,#1b62cc 99%,#207cca 100%,#164fa6 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #277af8 0%,#1b62cc 99%,#207cca 100%,#164fa6 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #277af8 0%,#1b62cc 99%,#207cca 100%,#164fa6 100%); /* IE10+ */
            background: linear-gradient(to bottom, #277af8 0%,#1b62cc 99%,#207cca 100%,#164fa6 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#277af8', endColorstr='#164fa6',GradientType=0 ); /* IE6-8 */
        }
    }

    .right-col {
        padding-left: 56px;
        padding-bottom: 70px;
        width: 490px;

        .frame {
            margin-left: 0;
            margin-right: 0;

            .border {
                margin: 0;
            }
        }

        li {
            display: inline-block;
            font: 300 1.166666667em "Lucida Grande", "myriad-pro", sans-serif;
            padding-bottom: 27px;
            padding-left: 10px;
            width: 230px;
        }

        h4, h5 {
            color: #1f1f1f;
            font: 600 1.428571429em "proxima-nova", sans-serif;
            margin: 37px 0 1px;
        }

        h5 {
            color: #4f4f4f;
            margin-top: 0;
        }

        span {
            color: #313131;
            display: block;
            line-height: 1.4em;
        }

        a {
            color: #4988e7;
            display: block;
            line-height: 1.4em;
        }

        .home {
            border-bottom: 1px solid #bfbfc1;
            display: block;
            margin-bottom: 20px;
            width: 480px;

            .email,
            .tel {
                display: inline-block;
            }

            .email {
                border-right: 1px solid #313131;
                margin-right: 11px;
                padding-right: 10px;
            }
        }

        .viewAll {
            border-top: 1px solid #bfbfc1;
            padding-top: 15px;
            width: 480px;
        }
    }
}

.lt-ie9 {
    .frame {
        background-color: #e3e6eb;
    }
}
